/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(239, 236, 236);
}

header{
    background-color: white;
    height: 100px;
}

img{
    height: 60px;
}

.container-header{
    padding-left: 20px;
    padding-top: 20px;
}

.title-display{
    display: inline-block;
    vertical-align: top
}

.title-size{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-main{
    background-color: white;
    width: 800px;
    margin: auto;
    border-radius: 0.5rem;
    padding-left: 50px;
}

.container-upper-main{
    height: 50px;
    margin-top: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}  

.container-middle-main{
    height: 550px;
    margin-top: 1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.bar-add-buttons{
    padding-top: 15px;
    margin bottom: 5px; 
}

.button-size{
    padding: 7px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    border-radius: 15%;
}

.button-task-color{
    background-color: rgb(20, 141, 234);
    color: white;
    border: 0;
}

.button-section-color{
    background-color: white;
    color: lightgray;
    border: none;
    border-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.subtitle-main{
    padding-top: 30px;
}

.subtitle-size{
    font-size: medium;   
}

.circle-checkbox{
    width: 25px; 
    height: 25px;
    border: 1px solid lightgreen;
    background: white;
    border-radius: 50%;
}

.main-things{
    padding-top: 10px;
}   

.info-middle-main{
    font-size: 10px;
    
}

.checkmark{
    color: lightgreen;
}